<md-dialog aria-label="New task" flex-gt-md="60" flex="90">
    <form>
        <md-dialog-content class="sticky-container" class="content" layout-padding>
            <md-subheader class="md-sticky-no-effect">
                <h2>
                    Edit resources
                </h2>
            </md-subheader>
            <h3>New resource</h3>
            <md-input-container flex>
                <label>Name</label>
                <input type="text" ng-model="resourcesController.newResource.name">
            </md-input-container>
            <md-input-container flex>
                <label>Availability</label>
                <input type="number" step="1" required min="0"
                       ng-model="resourcesController.newResource.available">
            </md-input-container>
            <br/>
            <md-button class="md-raised small" ng-click="resourcesController.addResource()">Add</md-button>
            <h3>Added resources:</h3>
            <md-list>
                <md-list-item ng-repeat="resource in resourcesController.resources">
                    {{resource.name}}&nbsp;({{resource.available}})
                    <img class="remove-icon" ng-src="img/remove.png"
                         ng-click="resourcesController.removeResource(resource)"/>
                </md-list-item>
            </md-list>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="resourcesController.close()">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

