### Pictures ###
*.jpg
*.png

### LaTex ###
*.pdf
*.log
*.aux
*.toc
*.out
# Not Latex document types #
*.odt
*.doc

### Codeblocks ###
*.depend
*.layout
*.cbp
# Directories #
Elte/Prog_1f/hf0/obj/
Elte/Prog_1f/hf0/bin/
Elte/Prog_1f/hf1/hf1_RJBSCJ/obj/
Elte/Prog_1f/hf1/hf1_RJBSCJ/bin/
Elte/Prog_1f/hf2/hf2_RJBSCJ/obj/
Elte/Prog_1f/hf2/hf2_RJBSCJ/bin/

### Any kind of archive file ###
*.zip
*.tar.gz
