<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="bower_modules/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="bower_modules/angular-material-icons/angular-material-icons.css"/>
    <!--link rel="stylesheet" href="bower_modules/angular-simple-calendar/dist/angular-simple-calendar.css"/-->

    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="gantt/gantt.css"/>
    <link rel="stylesheet" href="components/SelectItemDialog/selectItem.css"/>

    <title>TypeScript HTML App</title>


    <script src="bower_modules/jquery/dist/jquery.min.js"></script>
    <script src="bower_modules/konva/konva.min.js"></script>

    <script src="bower_modules/angular/angular.min.js"></script>
    <script src="bower_modules/angular-aria/angular-aria.min.js"></script>
    <script src="bower_modules/angular-animate/angular-animate.min.js"></script>
    <script src="bower_modules/angular-messages/angular-messages.min.js"></script>
    <script src="bower_modules/angular-material/angular-material.min.js"></script>
    <script src="bower_modules/angular-route/angular-route.min.js"></script>
    <script src="bower_modules/angular-google-gapi/angular-google-gapi.min.js"></script>
    <script src="bower_modules/filepicker-js/filepicker.js"></script>
    <script src="bower_modules/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_modules/ngFitText/dist/ng-FitText.min.js"></script>
    <script src="bower_modules/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="lib/cycle/cycle.js"></script>

    <script src="bower_modules/systemjs/build/system.min.js"></script>
    <script>
        System.defaultJSExtensions = true;
        System.import('app');
    </script>

</head>

<body ng-controller="LayoutController as layout">
<!--md-toolbar layout="row">
    <md-button class="menu" hide-gt-md ng-click="layout.toggleList()" aria-label="Show User List">
        <md-icon md-svg-src="menu"></md-icon>
    </md-button>
    <h1>Gantt-Diagram Application</h1>
</md-toolbar-->

<div>

    <!--md-sidenav class="md-whiteframe-z2" md-component-id="left">
        <md-list ng-controller="SidenavController as sidenavCtrl">
            <md-item>
                <md-button ng-click="sidenavCtrl.new()">
                    <h3>New</h3>
                </md-button>
            </md-item>
            <md-item>
                <md-button ng-click="sidenavCtrl.toggleMenu('open')">
                    <h3>Open</h3>
                </md-button>
                <span ng-show="sidenavCtrl.isMenuOpen('open')" class="toggle">
                    <md-list>
                        <md-item>
                            <md-button ng-click="sidenavCtrl.openFromGoogleDrive()">Google drive</md-button>
                        </md-item>
                        <md-item>
                            <input filepicker type="filepicker" data-fp-services="computer" on-success="onSuccess(event.fpfile)" />;
                            <md-button ng-click="sidenavCtrl.openFromLocal()">Local</md-button>
                        </md-item>
                    </md-list>
                </span>
            </md-item>
            <md-item>
                <md-button ng-click="sidenavCtrl.toggleMenu('save')">
                    <h3>Save</h3>
                </md-button>
                <span ng-show="sidenavCtrl.isMenuOpen('save')" class="toggle">
                    <md-list>
                        <md-item>
                            <md-button ng-click="sidenavCtrl.saveToGoogleDrive()">Google drive</md-button>
                        </md-item>
                        <md-item>
                            <md-button ng-click="sidenavCtrl.saveToLocal()">Local</md-button>
                        </md-item>
                    </md-list>
                </span>
            </md-item>
        </md-list>

    </md-sidenav-->

    <div flex layout="column" layout-align="center stretch" id="content" ng-view></div>
</div>

</body>
</html>